# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# VS Code workspace file
*.code-workspace

# output folder
dist